{% extends "layout.html" %}
{% block content %}
<body style="background-image: url('../static/mcss/static/images/bg-01.jpg')">
<h3 style="font-family:'Open Sans',Arial,Helvetica,sans-serif;font-size:32px;color:#FFFFFF;">Your data:</h3>
  <article class="media content-section">
    <div class="media-body" >
        <div class="article-metadata">
          <a class="mr-2">{{ ''}}</a>
          <small class="text-muted">{{ info['customerId'] }}</small>
          <br>
          <a class="mr-2">{{ 'Hash' }}</a>
          <small class="text-muted">{{ info['firstName'] }}</small>
          <br>
          <a class="mr-2">{{ 'Hash Proof' }}</a>
          <small class="text-muted">{{ info['lastName'] }}</small>
        </div>
      </div>
    </article>
</body>
{% endblock content %}